.d-flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.sp-btwn{
    justify-content: space-between;
}

.txt-center{
    text-align:center;
}
.half-card{
    background: linear-gradient(180deg, #4D4F95 0%, #2B2D66 100%);
    border: 2px solid rgba(255, 255, 255, 0.0782099);
    
    box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
}
.card-caption{
    padding: 26px 32px 42px 32px;
}
.section-title{
    padding:0 15px;
}
.hover{
    transition: transform 0.4s;
    cursor: pointer;
}
.hover:hover {
    transform: scale(1.03);
}



