// fonts
$MAIN_FONT: "Roboto Condensed", sans-serif;
$SECONDARY_FONT: "Girassol", cursive;

//colors
$COLOR_DARK_TEXT: #333333;
$COLOR_PRIMARY: #ef6a40;
$COLOR_WHITE: #fff;
$COLOR_PRIMARY_30: rgba(239, 105, 64, 0.3);
// fonts
$MAIN-FONT:'Barlow Condensed', sans-serif;
$SUB-FONT:'Barlow', sans-serif;
//colors
$COLOR-PRIMARY: #181942;
$BG-BODY:#313271;
$COLOR-BTN-BLUE:#6357F6;
$COLOR_PINK:#E6606C;
$COLOR_WHITE:#fff;
$COLOR_TEXT:#333333;
$SOLID_ROW:#363026;
$LINEAR_GRADIENT:linear-gradient(to right,#E6606C, #6357F6,);
$LINEAR_GRADIENT_BACK:linear-gradient(to left,#E6606C, #6357F6,);
$CARD-lINEAR:linear-gradient(#4D4F95, #2B2D66);
$CARD-lINEAR_BACK:linear-gradient(#2B2D66, #4D4F95);
$CLEAR-TXT:#ffffff80;
