
section{
  overflow-x: hidden;
}
//////////
header{
    padding: 10px 15px;
    background: #000;
}

.nav__btn{
    padding:15px 26.73px 16px 25.27px;
}
.nav-menu,
.nav__btn{
    display: none;
}
.nav__btn--hamburger{
    height: 48px;
    width: 48px;
    padding:16px;
}


header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
 
}





.logo {
  
  height: 80px;
  width: 80px;
  margin-left: 16px;
}



header .link-txt {
    opacity: 1;
    transition:0.7s;
  }
  header .link-txt:hover{
    color:$COLOR_PINK; 
    text-decoration: underline 5px;
   }

#navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    //border: 5px solid black;
    z-index:999;
  
    &.navbar--scroll {
      background: $COLOR-BTN-BLUE;
    }
  }
  
  
  
 


